<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="top-div">
            <div id="top-center">
                <div id="nav">
                    <div>
                        <h4>Header Logo</h4>
                    </div>
                    <div id="list">
                        <ol>
                            <li><a href="#">header link one</a></li>
                            <li><a href="#">header link two</a> </li>
                            <li><a href="#">header link three</a> </li>
                        </ol>
                    </div>
                </div>

               <div id="top-div-margin">
                    <div>
                        <div>This website is awesome</div>
                            <div>This website has some subtext that goes here under the main title. It's a smaller font and the color is lower contrasst'
                            </div>
                            <button class="blue-color">Sign up</button>
                    </div>
                    <div id"image-placeholder">
                        <p>this is a placeholder for an image</p>
                    </div>
                </div>
            </div>

        </div>


            <div id="second-div">

                    <h3 id="rando-info">Some random information.</h3>

                <div>
                    <div>
                        <div class="rounded-box"> </div>
                        <div><p>this is some subtext under an illustration or image</p></div>
                    </div>
                    <div>
                        <div class="rounded-box"> </div>
                        <div><p>this is some subtext under an illustration or image</p></div>
                    </div>
                    <div>
                        <div class="rounded-box"> </div>
                        <div><p>this is some subtext under an illustration or image</p></div>
                    </div>
                    <div>
                        <div class="rounded-box"> </div>
                        <div><p>this is some subtext under an illustration or image</p></div>
                    </div>
                </div>

            </div>


            <div id="third-div">
                <p>This is an inspiring quote, or a testimonial from a customer. Maybe it's just filling up space, or maybe people will actually read it. Who knows? All I know is that it looks nice.'</p>
                <p id="signature">Thor, God of Thunder-</p>
            </div>


            <div>
                <div class="blue-color">
                    <div>
                        <p>Call to action! It's time!'</p>
                        <p>Sign up for our product by clicking that button right over there!</p>
                    </div>

                    <div>
                        <button id="b-button" class="blue-color>">
                    </div>

                </div>
            </div>
        <footer><p>Copyright C The Odin Project 2021</p></footer>
    </body>
</html>
