html{
    font-family: sans-serif;
}

body{
    margin: 0;
}

.top-width{
    width: 200px;
}

#top-div{
    background-color: #1F2937;
    display:flex;
    flex-direction: row;
}


#hero{
    font-size: 28px;
    color: #F9FAF8;
    font-weight: 900;
}


#hero-secondary{
font-size: 12px;
color: white;
}

#top-center{
    width: 450px;
    margin: 30px auto;
}

#nav{
    margin-bottom: 30px;
    display:flex;
    justify-content: space-between;

}

#logo{
    color: white;
}

ol li{
    list-style-type:none;
    display: inline-block;
}

a{
    color: white;
    text-decoration:none;

}


#image-placeholder{
    background-color: grey;
    width: 280px;
    height: 80px;
    text-align: center;
}

#billaug-tekst{
    padding-top: 15px;
}

button{
    padding:5px;
    background-color: #3882F6;
    color: white;
}

#top-div-margin{
    display: flex;
    justify-content: space-between;
}
